*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.background{
    background: #bf7631; ;
}

.product-card {
    display: inline-block;
    width: 300px;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1em;
  }
  
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
  }
  
.main-image{
    height: 50%;
    max-width: 80%;
}

.second-img-size{
    height: 10%;
    max-width: 20%;
}

figure {
    position: relative;
  }
  
  .top-left {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    
  }

  section > h1{
    text-decoration: solid;
  }